#content_main
  %h1.title_page
    Dashboard
  
  .two_column
    .title-border
      %h3 Agent
      %span
        = @user.agent
      
    .title-border
      %h3 Manager
      %span
        = @user.manager
    
  .two_column.nomargin
    .title-border
      %h3 High School
      %span
        = @user.high_school
      
    .title-border
      %h3 Home Town
      %span
        = @user.home_town
  .clr

#content_right
  #sidebar
    %ul
      %li
        %h2 Dashboard:
        .side_box
          %a{:href=>"#"}
            %img{:src=>"/images/team1.jpg"}
          %ul
            %li
              %a{:href=>"#"}
                %strong
                  = @user.first_name
                  = @user.last_name
            %li
              %a{:href=>"#"} My Team
            %li
              %a{:href=>"#"}  My Profile
            %li
              %a{:href=>"#"}  My Photos / Videos
            %li
              %a{:href=>"#"}  My Account
      %li
        %h2 Recommended Team Members:
        .side_box
          %ul.row
            %li
              %img.imgleft{:alt=>"", :src=>"images/team.gif"}
              %strong Chad Grange
              %br
              %span
                Lawyer 
                %br
                Belongs to 38 teams
                %br
                %a{:href=>""} Add to your team
            %li
              %img.imgleft{:alt=>"", :src=>"images/team.gif"}
              %strong Jackson Grange
              %br
              %span
                Real Estate Agent 
                %br
                Belongs to 8 teams
                %br
                %a{:href=>""} Add to your team
.clr