<!DOCTYPE html>
<html>
<head>
  <title>Contest</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <h1>Your Team</h1>
    
    <h2>Login</h2>
    <%= form_for :login_user, :url => { :controller => "users", :action => "login" } do |f| %>
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>
      
      <%= f.submit :value=>'Login' %>
      
      <input type="checkbox" id="stay_logged_in"> <label for="stay_logged_in">Keep me logged in</label>
      
      <p><a href="#">Forgot my password</a></p>
    <% end %>
  </header>

<%= yield %>

</body>
</html>
